
#gpaselection {
	/*visibility: hidden;*/
	overflow: hidden;
}

#rankselection {
	/*visibility: hidden;*/
	overflow: hidden;
}

.input-field {
	max-width: 100%;
}


#radioForm {
	display: inline-block;
    margin: 0 auto;
}


h5{
	text-align: center;
}


/*shadows*/
.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}



#topStudents{
	display: none;
}
#percentageGPAdiv{
	display: none;
}
#classGPAdiv{
	display: none;
}
#averageGPAdiv{
	display: none;
}






/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 800px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}


/*  GRID OF SIX  */
.span_6_of_6 {
	width: 100%;
}

.span_5_of_6 {
  	width: 83.06%;
}

.span_4_of_6 {
  	width: 66.13%;
}

.span_3_of_6 {
  	width: 49.2%;
}

.span_2_of_6 {
  	width: 32.26%;
}

.span_1_of_6 {
  	width: 15.33%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 600px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; }
}





/*
Cards
*/

.row{
	text-align: center;
}

.card-title{
	font-size: 24px;
	display: none;
}
.white-text{
	font-size: 20px;
}
#sortThis{
	display: none;
}



/* Coloring each card*/

#chemClass{
	background-color: rgba(124,181,236,255) !important;
}

#civilClass{
	background-color: rgba(67, 67, 72,255) !important;
}
#compClass{
	background-color: rgba(144, 237, 125,255) !important;
}
#electClass{
	background-color: rgba(247, 163, 92,255) !important;
}
#mechClass{
	background-color: rgba(128, 133, 233,255) !important;
}
#prodClass{
	background-color: rgba(241, 92, 128,255) !important;	
}