<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Department of Computer Engineering">
    <link rel="icon" href="assets/images/favicon.ico">

    <title>cepdnaclk.github.io</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="{{ '/assets/css/index.css' | prepend: site.baseurl }}" rel="stylesheet">
    {% seo %}
</head>


<body>
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-2 pt-1">
                    <img class=" mx-auto d-block img-fluid" src="{{ '/assets/images/crest.png' | prepend: site.baseurl }}" alt="Logo">
                </div>
                <div class="col-8">
                    <a class="blog-header-logo text-dark" href="#">
                        Department of Computer Engineering <br>
                        <small class="small">University of Peradeniya, Sri Lanka</small>
                    </a>
                </div>
                <div class="col-2 d-flex justify-content-end align-items-center">
                    <a class="d-none btn btn-sm btn-outline-secondary" href="http://www.ce.pdn.ac.lk" target="_blank">Department Site</a>
                </div>
            </div>
        </header>

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="#">&nbsp;</a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <!-- Links -->
                <ul class="navbar-nav  justify-content-between w-100">
                    <li class="nav-item"><a class="nav-link" href="./sites/labs">Labs</a></li>
                    <li class="nav-item"><a class="nav-link" href="./sites/projects">Projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="./sites/students">Students</a></li>
                    <li class="nav-item"><a class="nav-link" href="./sites/servers">Servers</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Field Selection
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="./sites/fieldselection/2016">2016</a>
                            <a class="dropdown-item" href="./sites/fieldselection/2017">2017</a>
                            <a class="dropdown-item" href="./sites/fieldselection/2018">2018</a>
                            <a class="dropdown-item" href="./sites/fieldselection/2019">2019</a>
                        </div>
                    </li>


                    <li class="nav-item"><a class="nav-link" href="./sites/results">Results</a></li>
                    <li class="nav-item"><a class="nav-link" href="./sites/marks">Marks</a></li>
                    <li class="nav-item"><a class="nav-link" href="./sites/faq">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link" href="./sites/other">Other</a></li>

                </ul>
            </ul>
        </nav>
    </div>

    <main role="main" class="container pt-5 vh-50" >
        {{ content }}

    </main>

    <footer class="blog-footer">
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>

    {% if site.google_analytics %}

    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="/assets/js/jquery-slim.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/holder.min.js"></script>

</body>
</html>
