<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
    {% include meta.html -%}

    <title>Home | Department of Computer Engineering, UoP</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="{{ '/assets/css/index.css' | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ '/assets/css/home.css' | prepend: site.baseurl }}" rel="stylesheet">
    {% seo %}

    {% if site.ga_tracking != nil -%}
    {% include analytics.html -%}
    {% endif -%}
</head>

<body>
    <header class="blog-header py-3 px-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-2 pt-1">
                <img class=" mx-auto d-block img-fluid" src="{{ '/assets/images/crest.png' | prepend: site.baseurl }}"
                    alt="Logo">
            </div>
            <div class="col-8">
                <a class="blog-header-logo text-white text-decoration-none" href="#">
                    Department of Computer Engineering <br>
                    <small class="small">University of Peradeniya, Sri Lanka</small>
                </a>
            </div>
            <div class="col-2 d-flex justify-content-end align-items-center">
                <a class="d-none btn btn-sm btn-outline-secondary" href="http://www.ce.pdn.ac.lk"
                    target="_blank">Department Site</a>
            </div>
        </div>
    </header>

    <main role="main" class="container pt-3 vh-50">
        <div class="">
            {{ content }}
        </div>
    </main>

    <footer class="blog-footer mt-4" style="background-color: lightgray!important;">
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="/assets/js/holder.min.js"></script>

</body>

</html>