<!DOCTYPE html>
<html>
<head>
    <title>Redirecting...</title>
</head>
<body style="padding: 25px 100px;">
    <meta http-equiv = "refresh" content = "0; url = {{ page.forward_url}}" />
    <p>Redirecting...<br><br>Please click <a href="{{ page.forward_url}}">here</a> if the browser is not automatically redirected.</p>
    <br><br>
 </body>



<!--
<script type="text/javascript">
    document.getElementById("msg").style.display = 'block';
    const timeout = 0; // Can add a timeout

    if(timeout===0){
        window.location.replace("{{ page.forward_url }}");
    }else{
        setTimeout(()=>{
            window.location.replace("{{ page.forward_url }}");
        }, timeout);
    }

</script> -->

</html>
